<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="movieparser.example.android.popularmoviesstage1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/movie_icon_26"
        android:label="@string/app_name"
        android:roundIcon="@drawable/movie_icon_26"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="movieparser.example.android.popularmoviesstage1.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="movieparser.example.android.popularmoviesstage1.MovieDetail" />
    </application>

</manifest>